In [1]:
import pandas as pd

In [8]:
#데이터 불러오기
df=pd.read_csv("C:/Users/ktm/Desktop/R-Program/R/bike-sharing-demand/train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null object
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.6+ KB

In [9]:
#데이터 컬럼 나누기
#data에는 예측하고자 하는 'count'는 제외
#'casual','registered' 과적합 일어나므로 제외
# datetime 컬럼도 데이터 형태가 datetime object라서 일단, 제외
data=df.drop(['count','datetime','casual','registered'], axis=1)

In [10]:
target=df['count']

In [11]:
# sklearn 라이브러리에서 train_test_split 불러오기
from sklearn.model_selection import train_test_split

In [12]:
# train_test_split으로 train 데이터, test데이터를 나눈다.
X_train, X_test, y_train, y_test = train_test_split(data,target,random_state=0)

In [13]:
#sklearn에서 LinearRegression을 불러오기
from sklearn.linear_model import LinearRegression

In [14]:
#train 데이터로 LinearRegression 모델 만들기
model=LinearRegression().fit(X_train,y_train)

In [15]:
#만들어진 모델로 test 데이터 예측하기
pred=model.predict(X_test)
pred

array([194.80699865, 151.39614101, 170.46567048, ..., 124.00349743,
       300.19309867, 120.38550688])

In [18]:
#보기 좋게 데이터 프레임으로 만들기
dat=pd.DataFrame({'y_test': y_test, 'prediction':pred, 'diff':y_test-pred})
dat.head()

      y_test  prediction        diff
6638     244  194.806999   49.193001
7975     239  151.396141   87.603859
5915     229  170.465670   58.534330
8050     467  299.406880  167.593120
5894     335  203.104639  131.895361

In [19]:
# MAE(mean absolute error, 평균 절대값 오차)
sum(abs(dat['diff']))/len(dat['diff'])

116.89028273321584

In [21]:
# MSE(mean squared error, 평균 제곱 오차)
mse_value=sum(dat['diff']**2)/len(dat['diff'])
mse_value

24056.02243185304

In [24]:
import numpy as np

In [25]:
# RMSE(root mean square error, 평균 제곱근 오차)
result = np.sqrt (mse_value)
result

155.1000400768905

In [26]:
#훈련 데이터셋과 테스트 데이터셋 점수 확인
print('훈련 데이터 세트 정수: {:.2f}'.format(model.score(X_train, y_train)))
print('테스트 데이터 세트 정수: {:.2f}'.format(model.score(X_test, y_test)))

훈련 데이터 세트 정수: 0.26
테스트 데이터 세트 정수: 0.27