In [2]:
import pandas as pd
import time
import re

from bs4 import BeautifulSoup 
from urllib.request import urlopen

In [21]:
df = pd.read_csv('C:/Users/ktm/Desktop/Python-Program/chicagomag_info.csv', encoding='utf-8')
df.head()

,Unnamed: 0,랭킹,메뉴,카페,링크
0,0,1,BLT,Old Oak Tap,http://www.chicagomag.com/Chicago-Magazine/Nov...
1,1,2,Fried Bologna,Au Cheval,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,2,3,Woodland Mushroom,Xoco,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,3,4,Roast Beef,Al’s Deli,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,4,5,PB&L,Publican Quality Meats,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [22]:
del df['Unnamed: 0']
df.head()

,랭킹,메뉴,카페,링크
0,1,BLT,Old Oak Tap,http://www.chicagomag.com/Chicago-Magazine/Nov...
1,2,Fried Bologna,Au Cheval,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,3,Woodland Mushroom,Xoco,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,4,Roast Beef,Al’s Deli,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,5,PB&L,Publican Quality Meats,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [23]:
df.set_index('랭킹', inplace=True)
df.head()

,메뉴,카페,링크
랭킹,,,
1,BLT,Old Oak Tap,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,Fried Bologna,Au Cheval,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,Woodland Mushroom,Xoco,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,Roast Beef,Al’s Deli,http://www.chicagomag.com/Chicago-Magazine/Nov...
5,PB&L,Publican Quality Meats,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 3 columns):
메뉴    50 non-null object
카페    50 non-null object
링크    50 non-null object
dtypes: object(3)
memory usage: 1.6+ KB

In [25]:
df['메뉴'][1]

'BLT'

In [26]:
df['링크'][1]

'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [28]:
site = df['링크'][1]
html = urlopen(site)
soup = BeautifulSoup(html, "lxml")

In [29]:
soup.title

<title>
  1. Old Oak Tap BLT |
  Chicago magazine
      |  November 2012
    </title>

In [30]:
p_tag=soup.find('p','addy')
p_tag

<p class="addy">
<em>$10. 2109 W. Chicago Ave., 773-772-0406, <a href="http://www.theoldoaktap.com/">theoldoaktap.com</a></em></p>

In [33]:
print(p_tag.prettify())

<p class="addy">
 <em>
  $10. 2109 W. Chicago Ave., 773-772-0406,
  <a href="http://www.theoldoaktap.com/">
   theoldoaktap.com
  </a>
 </em>
</p>

In [35]:
taginfo=p_tag.get_text()
taginfo

'\n$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [36]:
taginfo=taginfo.strip()
taginfo

'$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [40]:
menu_price=re.search('\$\d+\.(\d+)?',taginfo).group()
menu_price

'$10.'

In [41]:
cafe_addr="일단보류"

In [43]:
cafe_tel=re.search('\d{3}[-]\d{3}[-]\d{4}', taginfo)
if cafe_tel is not None:
    cafe_tel =cafe_tel.group()
else:
    cafe_tel='No Contact'
    
cafe_tel

'773-772-0406'

In [44]:
taginfo

'$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [45]:
info_list=taginfo.split(',')
info_list

['$10. 2109 W. Chicago Ave.', ' 773-772-0406', ' theoldoaktap.com']

In [49]:
if info_list[-1].endswith('.com') or info_list[-1].endswith('.net'):
    home_page=info_list[-1]
else:
    home_page='No Homepage'
home_page

' theoldoaktap.com'

In [50]:
info_list[0]

'$10. 2109 W. Chicago Ave.'

In [51]:
menu_price

'$10.'

In [52]:
idx=len(menu_price)
cafe_addr=info_list[0][idx:].strip()
cafe_addr

'2109 W. Chicago Ave.'

In [53]:
for ranking in df.index[:5]:
    sub_link=df['링크'][ranking]
    print('Top{}:{}'.format(ranking, sub_link))

Top1:http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/
Top2:http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Au-Cheval-Fried-Bologna/
Top3:http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Xoco-Woodland-Mushroom/
Top4:http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Als-Deli-Roast-Beef/
Top5:http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Publican-Quality-Meats-PB-L/

In [55]:
price_list = list()
cfadd_list = list()
cftel_list = list()
homep_list = list()

for ranking in df.index[:5]:
    sub_link = df['링크'][ranking]
    # print('{} : {}'.format(idx, sub_link))
    html = urlopen(sub_link)
    soup = BeautifulSoup(html, "lxml")
    
    p_tag = soup.find('p', 'addy')
    taginfo = p_tag.get_text()
    taginfo = taginfo.strip()

    # 메뉴가격
    menu_price = re.search('\$\d+\.(\d+)?', taginfo).group()

    # 카페주소
    cafe_addr = '일단보류' 

    # 전화번호
    cafe_tel = re.search('\d{3}[-]\d{3}[-]\d{4}', taginfo)
    if cafe_tel is not None:
        cafe_tel = cafe_tel.group()
    else:
        cafe_tel = 'No Contact'

    info_list = taginfo.split(', ')

    # 홈페이지
    if info_list[-1].endswith('.com') or info_list[-1].endswith('.net'):
        home_page = info_list[-1]
    else:
        home_page = 'No Homepage'

    # 카페주소
    idx = len(menu_price)
    cafe_addr = info_list[0][idx:].strip()

    price_list.append(menu_price)
    cfadd_list.append(cafe_addr )
    cftel_list.append(cafe_tel  )
    homep_list.append(home_page )
    
    print('Top{} Page : Crawling is completed.'.format(ranking))
else:
    print('-'*50)
    print('크롤링 완료!!!')

Top1 Page : Crawling is completed.
Top2 Page : Crawling is completed.
Top3 Page : Crawling is completed.
Top4 Page : Crawling is completed.
Top5 Page : Crawling is completed.
--------------------------------------------------
크롤링 완료!!!

In [56]:
cfadd_list

['2109 W. Chicago Ave.',
 '800 W. Randolph St.',
 '. 445 N. Clark St.',
 '. 914 Noyes St.',
 '825 W. Fulton Mkt.']

In [57]:
price_list

['$10.', '$9.', '$9.50', '$9.40', '$10.']

In [58]:
menu_price=price_list[0]
if menu_price.endswith('.'):
    menu_price=menu_price[:-1]
menu_price

'$10'

In [59]:
cafe_addr=cfadd_list[2]
if cafe_addr.startswith('.'):
    cafe_addr=cafe_addr[1:].strip()
cafe_addr

'445 N. Clark St.'

In [60]:
from tqdm import tqdm_notebook

def getSubpagesData(df):

    ret_dict  = dict()
    columns   = [ '메뉴가격', '카페주소', '전화번호', '홈페이지' ]
    price_list = list()
    cfadd_list = list()
    cftel_list = list()
    homep_list = list()

    for ranking in tqdm_notebook(df.index):
        
        sub_link = df['링크'][ranking]
        html = urlopen(sub_link)
        soup = BeautifulSoup(html, "lxml")

        p_tag = soup.find('p', 'addy')
        taginfo = p_tag.get_text()
        taginfo = taginfo.strip()

        # 메뉴가격
        menu_price = re.search('\$\d+\.(\d+)?', taginfo).group()

        # 카페주소
        # cafe_addr = '일단보류' 

        # 전화번호
        cafe_tel = re.search('\d{3}[-]\d{3}[-]\d{4}', taginfo)
        if cafe_tel is not None:
            cafe_tel = cafe_tel.group()
        else:
            cafe_tel = 'No Contact'

        info_list = taginfo.split(', ')

        # 홈페이지
        if info_list[-1].endswith('.com') or info_list[-1].endswith('.net'):
            home_page = info_list[-1]
        else:
            home_page = 'No Homepage'

        # 카페주소
        idx = len(menu_price)
        cafe_addr = info_list[0][idx:].strip()
        
        # 리펙토링
        menu_price = menu_price[:-1] if menu_price.endswith('.') else menu_price
        cafe_addr  = cafe_addr[1:].strip() if cafe_addr.startswith('.') else cafe_addr
        
        # if menu_price.endswith('.'):
        #     menu_price = menu_price[:-1]
        # if cafe_addr.startswith('.'):
        #     cafe_addr = cafe_addr[1:].strip()
        

        price_list.append(menu_price)
        cfadd_list.append(cafe_addr )
        cftel_list.append(cafe_tel  )
        homep_list.append(home_page )

        # print('Ranking{} subpage crawling is completed.'.format(ranking))
        separator = ' |\n' if ranking%5==0 else ' | '
        print('Top{0:2d} 완료'.format(ranking), end=separator)
    else:
        print(); print('-'*100);
        print('모든 서브페이지 크롤링 완료!!!')

    ret_dict[columns[0]] = price_list
    ret_dict[columns[1]] = cfadd_list
    ret_dict[columns[2]] = cftel_list
    ret_dict[columns[3]] = homep_list
    
    return ret_dict

In [61]:
ret_dict = getSubpagesData(df)

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

Top 1 완료 | Top 2 완료 | Top 3 완료 | Top 4 완료 | Top 5 완료 |
Top 6 완료 | Top 7 완료 | Top 8 완료 | Top 9 완료 | Top10 완료 |
Top11 완료 | Top12 완료 | Top13 완료 | Top14 완료 | Top15 완료 |
Top16 완료 | Top17 완료 | Top18 완료 | Top19 완료 | Top20 완료 |
Top21 완료 | Top22 완료 | Top23 완료 | Top24 완료 | Top25 완료 |
Top26 완료 | Top27 완료 | Top28 완료 | Top29 완료 | Top30 완료 |
Top31 완료 | Top32 완료 | Top33 완료 | Top34 완료 | Top35 완료 |
Top36 완료 | Top37 완료 | Top38 완료 | Top39 완료 | Top40 완료 |
Top41 완료 | Top42 완료 | Top43 완료 | Top44 완료 | Top45 완료 |
Top46 완료 | Top47 완료 | Top48 완료 | Top49 완료 | Top50 완료 |


----------------------------------------------------------------------------------------------------
모든 서브페이지 크롤링 완료!!!